.card {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  font-variant-caps: all-small-caps;
  font-size-adjust: unset;
  background-color: rgba(198, 185, 131, 0.555);
  width: 140px;
  height: 235px;
  margin: 20px;
  border: 8px solid red;
 transition:  1s;  
  border-right-color: rgb(255, 255, 0);
  border-top-color:rgb(255, 255, 0) ;
  border-style:double;
  box-shadow: 10px 20px red;
  text-align: center;
  
}


.CardImage{
    max-width:180px;
    max-height:150px;
    width: auto;
    height: auto;
    
}
.card-content {
  max-width: 200vw;
  width: 200px;
  height: 150px;
  margin: 20px; 
  text-align: center;
  display: flex;
  justify-content: center;
}
