.card {
  grid-template-columns: repeat (auto-fit, minmax(200px,2fr));
  justify-content:center;
  gap:20px;
  background-color: rgba(6, 6, 240, 0.551);
  width: 200px;
  height: 200px;
  margin:20px;

}
.CardImage{
    max: width 150px;px;
    max-height:120px;
    width: auto;
    height: auto;
    justify-content:center;
}
.card-content {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    max-width: 200vw;
  width: 200px;
  height: 150px;
  margin: 20px; 
  text-align: center;
  display: flex;
  justify-content: center;
}
/* 
.card-content {
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 1em;
    max-width: 200vw;
    background-color: rgba(8, 3, 3, 0.489);
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 50px;
  }
  */
   /* .card-content-img {
    max-width: 100%;
    max-height: 100;
    object-fit:fill;
  } */
  